<?xml version="1.0"?>
<!--
/**
 * BS_Crypto extension
 * 
 * @category       BS
 * @package        BS_Crypto
 * @copyright      Copyright (c) 2018
 */
-->
<config>
    <modules>
        <BS_Crypto>
            <version>1.0.0</version>
        </BS_Crypto>
    </modules>
    <global>
        <resources>
            <bs_crypto_setup>
                <setup>
                    <module>BS_Crypto</module>
                    <class>BS_Crypto_Model_Resource_Setup</class>
                </setup>
            </bs_crypto_setup>
        </resources>
        <blocks>
            <bs_crypto>
                <class>BS_Crypto_Block</class>
            </bs_crypto>
        </blocks>
        <helpers>
            <bs_crypto>
                <class>BS_Crypto_Helper</class>
            </bs_crypto>
        </helpers>
        <models>
            <bs_crypto>
                <class>BS_Crypto_Model</class>
                <resourceModel>bs_crypto_resource</resourceModel>
            </bs_crypto>
            <bs_crypto_resource>
                <class>BS_Crypto_Model_Resource</class>
                <entities>
                    <account>
                        <table>bs_crypto_account</table>
                    </account>
                    <period>
                        <table>bs_crypto_period</table>
                    </period>
                    <investment>
                        <table>bs_crypto_investment</table>
                    </investment>
                </entities>
            </bs_crypto_resource>
        </models>
        <events>
            <model_save_before>
                <observers>
                    <bs_crypto_save_before>
                        <class>bs_crypto/observer</class>
                        <method>modelSaveBefore</method>
                    </bs_crypto_save_before>
                </observers>
            </model_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_crypto>
                    <file>bs_crypto.xml</file>
                </bs_crypto>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Crypto>
                    <files>
                        <default>BS_Crypto.csv</default>
                    </files>
                </BS_Crypto>
            </modules>
        </translate>
        <global_search>
            <investment>
                <class>bs_crypto/adminhtml_search_investment</class>
                <acl>bs_crypto</acl>
            </investment>
        </global_search>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <bs_crypto_to_html_before>
                        <class>bs_crypto/observer</class>
                        <method>doBeforeBlockToHtml</method>
                    </bs_crypto_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>

            <!--<core_block_abstract_to_html_after>
                <observers>
                    <bs_observation_to_html_after>
                        <class>BS_Observation_Model_Observer</class>
                        <method>doAfterBlockToHtml</method>
                    </bs_observation_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>-->
            <!--<core_collection_abstract_load_after>
                <observers>
                    <set_default_filter>
                        <class>BS_Observation_Model_Observer</class>
                        <method>setDefaultFilters</method>
                    </set_default_filter>
                </observers>
            </core_collection_abstract_load_after>-->
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Crypto before="Mage_Adminhtml">BS_Crypto_Adminhtml</BS_Crypto>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <bs_crypto>
                        <class>bs_crypto/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </bs_crypto>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <routers>
            <bs_crypto>
                <use>standard</use>
                <args>
                    <module>BS_Crypto</module>
                    <frontName>crypto</frontName>
                </args>
            </bs_crypto>
        </routers>
        <layout>
            <updates>
                <bs_crypto>
                    <file>bs_crypto.xml</file>
                </bs_crypto>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Crypto>
                    <files>
                        <default>BS_Crypto.csv</default>
                    </files>
                </BS_Crypto>
            </modules>
        </translate>
    </frontend>
    <default>
        <bs_crypto>
            <period>
                <breadcrumbs>1</breadcrumbs>
            </period>
            <investment>
                <breadcrumbs>1</breadcrumbs>
            </investment>
        </bs_crypto>
    </default>
</config>
